@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

/* Custom global styles can go here */
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}